:root {
  --fontColor: #7b74f9;
  --buttonFocusBackground: #716af7;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* CSS reset */
.App {
  width: 440px;
  overflow-y: auto;
}

.user-form {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: self-end;
  margin: 1rem;
  gap: 1rem;
  /* width: 340px; */
}

.margin-1 {
  margin: 1rem;
}

.margin-2 {
  margin: 2rem;
}

.margin-3 {
  margin: 3rem;
}

.padding-1 {
  padding: 1rem;
}

.padding-2 {
  padding: 2rem;
}

.padding-3 {
  padding: 3rem;
}

.input {
  border-radius: 1rem;
  padding-left: 1rem;
  margin-left: 1rem;
}

.button:has(> a) {
  background-color: none !important;
}

.button {
  border: none;
  border-radius: 1rem;
  background-color: #cccaf8;
  padding: 0 0.8rem 0 0.8rem;
  margin: 0 0.5rem 0 0.5rem;
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: 800;
}

.button > a {
  font-weight: 800;
  text-decoration: none;
  color: #ffffff;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.1s;
  background-color: var(--buttonFocusBackground)
}

.button-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input:focus {
  outline: none;
  border-color: #a9a5f3;
  border: solid 2px;
}

.input-label {
  color: var(--fontColor);
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(102, 18, 18, 0.2));
}

.input {
  border: 1.5px solid rgb(219, 215, 250);
  border-radius: 0.3rem;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  color: #716af7;
}
